# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
.terraform.lock.hcl

# Kubernetes
k8s/

# Sonarqube secrets
sonarqube/dev/sonarqube_key.pem
sonarqube/dev/terraform.tfvars
sonarqube/dev/.terraform/

# GCP runner secrets
github-runners-gcp/github-runners-ansible-gcp/terraform/modules/github-runner/.env
github-runners-gcp/github-runners-ansible-gcp/terraform/modules/github-runner/github_runner_key
github-runners-gcp/github-runners-ansible-gcp/terraform/modules/github-runner/github_runner_key.pub

# PEM / SSH Keys
*.pem
id_rsa
id_rsa.pub